.*.sw*
*~
*.o
Makefile.in
aclocal.m4
autom4te.cache/
build/
config.guess
config.h.in
config.sub
configure
depcomp
fast/
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
temp.txt
.deps/
.libs/
Makefile
script/resultats.txt
solution_checker/solution_checker
config.h
config.log
config.status
generateurInstance.exe
libtool
machineReassignment.exe
stamp-h1
